In [1]:
#Use to import pandas
import pandas as pd
#Use to import the file into google Colab drive
from google.colab import files 
#Use to import io, which opens the file from the Colab drive
import io

In [2]:
from google.colab import files

In [3]:
# Upload GDA piepline dataset
uploaded = files.upload()

Saving DisGeNet_Script_File.csv to DisGeNet_Script_File.csv

In [4]:
df = pd.read_csv(io.StringIO(uploaded['DisGeNet_Script_File.csv'].decode('utf-8')))

In [5]:
df.head

<bound method NDFrame.head of            Gene    Gene_id  ...        PMID PMID_Year
0        TRIM58      25893  ...  27926516.0    2017.0
1         TRPA1       8989  ...  29038531.0    2017.0
2         LAMA1     284217  ...   7967523.0    1994.0
3     LOXL1-AS1  100287616  ...  31758653.0    2020.0
4         WNT7A       7476  ...  30353687.0    2018.0
...         ...        ...  ...         ...       ...
7827       EGFR       1956  ...  27766477.0    2017.0
7828        ALK        238  ...  24885886.0    2014.0
7829       KRAS       3845  ...  26468985.0    2015.0
7830       EGFR       1956  ...  22826471.0    2013.0
7831       EGFR       1956  ...  21165163.0    2010.0

[7832 rows x 10 columns]>

In [6]:
# remove unnecessary columns
df0 = df.drop(['Gene_id','Disease','Disease_id', 'Association_Type','Original_DB', 'Sentence', 'PMID', 'PMID_Year'], axis=1)
df0

           Gene  Score_gda
0        TRIM58       0.01
1         TRPA1       0.01
2         LAMA1       0.01
3     LOXL1-AS1       0.01
4         WNT7A       0.01
...         ...        ...
7827       EGFR       0.70
7828        ALK       0.70
7829       KRAS       0.70
7830       EGFR       0.70
7831       EGFR       0.70

[7832 rows x 2 columns]

In [7]:
# Remove duplicates in GDA pipeline dataset
no_duplicates = df0.sort_values('Score_gda', ascending=False).drop_duplicates('Gene').sort_index()
print(no_duplicates.head)

<bound method NDFrame.head of            Gene  Score_gda
0        TRIM58       0.01
1         TRPA1       0.01
2         LAMA1       0.01
3     LOXL1-AS1       0.01
4         WNT7A       0.01
...         ...        ...
6562       KRAS       0.70
6563       BRAF       0.70
6572       ROS1       0.70
6582      STK11       0.70
7831       EGFR       0.70

[2456 rows x 2 columns]>

In [8]:
# Upload Full Ensembl conversion dataset
uploaded1 = files.upload()

Saving gProfiler_hsapiens_maxList.csv to gProfiler_hsapiens_maxList.csv

In [9]:
# Read and remove unnecessary columns
df_e = pd.read_csv(io.StringIO(uploaded1['gProfiler_hsapiens_maxList.csv'].decode('utf-8')))
dfe = df_e.drop(['name','description','namespace'], axis=1)
dfe

     initial_alias          ensembl
0             AATK  ENSG00000181409
1            ABCA1  ENSG00000165029
2            ABCA3  ENSG00000167972
3            ABCB1  ENSG00000085563
4            ABCC1  ENSG00000103222
...            ...              ...
2451        ZNF763  ENSG00000197054
2452         ZNRD1  ENSG00000066379
2453      ZNRD1ASP  ENSG00000204623
2454         ZNRD2  ENSG00000173465
2455        ZYG11A  ENSG00000203995

[2456 rows x 2 columns]

In [10]:
dfg = pd.DataFrame(no_duplicates)
dfE = pd.DataFrame(dfe)

In [11]:
dfmerged = dfg.merge(dfE, left_on='Gene', right_on='initial_alias')
dfmerged

           Gene  Score_gda initial_alias          ensembl
0        TRIM58       0.01        TRIM58  ENSG00000162722
1         TRPA1       0.01         TRPA1  ENSG00000104321
2         LAMA1       0.01         LAMA1  ENSG00000101680
3     LOXL1-AS1       0.01     LOXL1-AS1  ENSG00000261801
4         WNT7A       0.01         WNT7A  ENSG00000154764
...         ...        ...           ...              ...
2447       KRAS       0.70          KRAS  ENSG00000133703
2448       BRAF       0.70          BRAF  ENSG00000157764
2449       ROS1       0.70          ROS1  ENSG00000047936
2450      STK11       0.70         STK11  ENSG00000118046
2451       EGFR       0.70          EGFR  ENSG00000146648

[2452 rows x 4 columns]

In [12]:
df_merged = dfmerged.drop(['initial_alias'], axis=1)
df_merged

           Gene  Score_gda          ensembl
0        TRIM58       0.01  ENSG00000162722
1         TRPA1       0.01  ENSG00000104321
2         LAMA1       0.01  ENSG00000101680
3     LOXL1-AS1       0.01  ENSG00000261801
4         WNT7A       0.01  ENSG00000154764
...         ...        ...              ...
2447       KRAS       0.70  ENSG00000133703
2448       BRAF       0.70  ENSG00000157764
2449       ROS1       0.70  ENSG00000047936
2450      STK11       0.70  ENSG00000118046
2451       EGFR       0.70  ENSG00000146648

[2452 rows x 3 columns]

In [13]:
no_duplicates_df = df_merged.sort_values('Gene', ascending=False).drop_duplicates('ensembl').sort_index()
no_duplicates_df

           Gene  Score_gda          ensembl
0        TRIM58       0.01  ENSG00000162722
1         TRPA1       0.01  ENSG00000104321
2         LAMA1       0.01  ENSG00000101680
3     LOXL1-AS1       0.01  ENSG00000261801
4         WNT7A       0.01  ENSG00000154764
...         ...        ...              ...
2447       KRAS       0.70  ENSG00000133703
2448       BRAF       0.70  ENSG00000157764
2449       ROS1       0.70  ENSG00000047936
2450      STK11       0.70  ENSG00000118046
2451       EGFR       0.70  ENSG00000146648

[2418 rows x 3 columns]

In [14]:
no_duplicates_df.to_csv(r'/content/no_duplicates_df.csv', index = False)

In [15]:
# Filter out gda_scores under 0.05, 0.04, and so on
above_thres5 = no_duplicates_df[no_duplicates_df["Score_gda"] >= 0.05]
above_thres4 = no_duplicates_df[no_duplicates_df["Score_gda"] >= 0.04]
above_thres3 = no_duplicates_df[no_duplicates_df["Score_gda"] >= 0.03]
above_thres2 = no_duplicates_df[no_duplicates_df["Score_gda"] >= 0.02]
above_thres1 = no_duplicates_df[no_duplicates_df["Score_gda"] >= 0.01]
above_thres5

          Gene  Score_gda          ensembl
1974    CDKN1A       0.05  ENSG00000124762
1975      CCL2       0.05  ENSG00000108691
1976     ASCL1       0.05  ENSG00000139352
1977    POU5F1       0.05  ENSG00000204531
1978  PDCD1LG2       0.05  ENSG00000197646
...        ...        ...              ...
2447      KRAS       0.70  ENSG00000133703
2448      BRAF       0.70  ENSG00000157764
2449      ROS1       0.70  ENSG00000047936
2450     STK11       0.70  ENSG00000118046
2451      EGFR       0.70  ENSG00000146648

[476 rows x 3 columns]

In [16]:
above_thres5.to_csv(r'/content/above_thres5.csv', index = False)

In [17]:
above_thres4

         Gene  Score_gda          ensembl
1908     MEST       0.04  ENSG00000106484
1909    TIMP1       0.04  ENSG00000102265
1910  BCL2L11       0.04  ENSG00000153094
1911     IL1B       0.04  ENSG00000125538
1912    CENPA       0.04  ENSG00000115163
...       ...        ...              ...
2447     KRAS       0.70  ENSG00000133703
2448     BRAF       0.70  ENSG00000157764
2449     ROS1       0.70  ENSG00000047936
2450    STK11       0.70  ENSG00000118046
2451     EGFR       0.70  ENSG00000146648

[540 rows x 3 columns]

In [18]:
above_thres4.to_csv(r'/content/above_thres4.csv', index = False)

In [19]:
above_thres3

         Gene  Score_gda          ensembl
1779     SOX9       0.03  ENSG00000125398
1780    PRKCZ       0.03  ENSG00000067606
1781  S100A16       0.03  ENSG00000188643
1782  CEACAM6       0.03  ENSG00000086548
1783  RPLP0P2       0.03  ENSG00000243742
...       ...        ...              ...
2447     KRAS       0.70  ENSG00000133703
2448     BRAF       0.70  ENSG00000157764
2449     ROS1       0.70  ENSG00000047936
2450    STK11       0.70  ENSG00000118046
2451     EGFR       0.70  ENSG00000146648

[667 rows x 3 columns]

In [20]:
above_thres3.to_csv(r'/content/above_thres3.csv', index = False)

In [21]:
above_thres2

         Gene  Score_gda          ensembl
1393     ATN1       0.02  ENSG00000111676
1394      IL2       0.02  ENSG00000109471
1395    MKI67       0.02  ENSG00000148773
1396  LAMTOR2       0.02  ENSG00000116586
1397    PCBP4       0.02  ENSG00000090097
...       ...        ...              ...
2447     KRAS       0.70  ENSG00000133703
2448     BRAF       0.70  ENSG00000157764
2449     ROS1       0.70  ENSG00000047936
2450    STK11       0.70  ENSG00000118046
2451     EGFR       0.70  ENSG00000146648

[1045 rows x 3 columns]

In [22]:
above_thres2.to_csv(r'/content/above_thres2.csv', index = False)

In [23]:
above_thres1

           Gene  Score_gda          ensembl
0        TRIM58       0.01  ENSG00000162722
1         TRPA1       0.01  ENSG00000104321
2         LAMA1       0.01  ENSG00000101680
3     LOXL1-AS1       0.01  ENSG00000261801
4         WNT7A       0.01  ENSG00000154764
...         ...        ...              ...
2447       KRAS       0.70  ENSG00000133703
2448       BRAF       0.70  ENSG00000157764
2449       ROS1       0.70  ENSG00000047936
2450      STK11       0.70  ENSG00000118046
2451       EGFR       0.70  ENSG00000146648

[2418 rows x 3 columns]

In [24]:
above_thres1.to_csv(r'/content/above_thres1.csv', index = False)

In [25]:
uploaded3 = files.upload()

Saving final_node_know_features_v1.csv to final_node_know_features_v1.csv

In [106]:
df5 = pd.read_csv(io.StringIO(uploaded3['final_node_know_features_v1.csv'].decode('utf-8')))
df5

               ensembl     hpa_0  ...  nih_cnv_loss  nih_tot_mutations
0      ENSG00000175899  0.443505  ...      0.066277                 29
1      ENSG00000128274  0.532289  ...      0.025341                  1
2      ENSG00000094914  1.605229  ...      0.019493                  3
3      ENSG00000081760  0.467196  ...      0.052632                 19
4      ENSG00000114771  0.956718  ...      0.011696                  6
...                ...       ...  ...           ...                ...
14850  ENSG00000198455  1.436813  ...      0.011696                 16
14851  ENSG00000070476  1.140170  ...      0.015595                 10
14852  ENSG00000162378  0.782655  ...      0.048733                 14
14853  ENSG00000159840  1.042306  ...      0.023392                  8
14854  ENSG00000074755  0.553160  ...      0.046784                 26

[14855 rows x 108 columns]

In [27]:
intersected_df1 = pd.merge(above_thres1, df5, how='inner')
intersected_df1

          Gene  Score_gda  ... nih_cnv_loss  nih_tot_mutations
0       TRIM58       0.01  ...     0.019493                 52
1        WNT7A       0.01  ...     0.029240                 15
2        TROAP       0.01  ...     0.027290                 12
3     MARVELD3       0.01  ...     0.037037                  7
4        FAIM2       0.01  ...     0.033138                 11
...        ...        ...  ...          ...                ...
1825      KRAS       0.70  ...     0.011696                 15
1826      BRAF       0.70  ...     0.023392                 27
1827      ROS1       0.70  ...     0.050682                 31
1828     STK11       0.70  ...     0.076023                 83
1829      EGFR       0.70  ...     0.019493                 51

[1830 rows x 110 columns]

In [28]:
intersected_df2 = pd.merge(above_thres2, df5, how='inner')
intersected_df2

        Gene  Score_gda  ... nih_cnv_loss  nih_tot_mutations
0       ATN1       0.02  ...     0.058480                 12
1      MKI67       0.02  ...     0.033138                 51
2    LAMTOR2       0.02  ...     0.001949                  2
3      PCBP4       0.02  ...     0.038986                  2
4         AR       0.02  ...     0.007797                 20
..       ...        ...  ...          ...                ...
818     KRAS       0.70  ...     0.011696                 15
819     BRAF       0.70  ...     0.023392                 27
820     ROS1       0.70  ...     0.050682                 31
821    STK11       0.70  ...     0.076023                 83
822     EGFR       0.70  ...     0.019493                 51

[823 rows x 110 columns]

In [29]:
intersected_df3 = pd.merge(above_thres3, df5, how='inner')
intersected_df3

        Gene  Score_gda  ... nih_cnv_loss  nih_tot_mutations
0       SOX9       0.03  ...     0.007797                 11
1      PRKCZ       0.03  ...     0.060429                  5
2    S100A16       0.03  ...     0.003899                  2
3    CEACAM6       0.03  ...     0.038986                  4
4    SLC34A2       0.03  ...     0.021442                 20
..       ...        ...  ...          ...                ...
535     KRAS       0.70  ...     0.011696                 15
536     BRAF       0.70  ...     0.023392                 27
537     ROS1       0.70  ...     0.050682                 31
538    STK11       0.70  ...     0.076023                 83
539     EGFR       0.70  ...     0.019493                 51

[540 rows x 110 columns]

In [30]:
intersected_df4 = pd.merge(above_thres4, df5, how='inner')
intersected_df4

        Gene  Score_gda  ... nih_cnv_loss  nih_tot_mutations
0       MEST       0.04  ...     0.023392                  3
1      TIMP1       0.04  ...     0.017544                  5
2    BCL2L11       0.04  ...     0.015595                  6
3       IL1B       0.04  ...     0.007797                  5
4      CENPA       0.04  ...     0.021442                  5
..       ...        ...  ...          ...                ...
441     KRAS       0.70  ...     0.011696                 15
442     BRAF       0.70  ...     0.023392                 27
443     ROS1       0.70  ...     0.050682                 31
444    STK11       0.70  ...     0.076023                 83
445     EGFR       0.70  ...     0.019493                 51

[446 rows x 110 columns]

In [31]:
intersected_df5 = pd.merge(above_thres5, df5, how='inner')
intersected_df5

         Gene  Score_gda  ... nih_cnv_loss  nih_tot_mutations
0      CDKN1A       0.05  ...     0.013645                  2
1        CCL2       0.05  ...     0.017544                  3
2       ASCL1       0.05  ...     0.048733                  2
3      POU5F1       0.05  ...     0.011696                  2
4    PDCD1LG2       0.05  ...     0.050682                  7
..        ...        ...  ...          ...                ...
394      KRAS       0.70  ...     0.011696                 15
395      BRAF       0.70  ...     0.023392                 27
396      ROS1       0.70  ...     0.050682                 31
397     STK11       0.70  ...     0.076023                 83
398      EGFR       0.70  ...     0.019493                 51

[399 rows x 110 columns]

In [32]:
uploaded4 = files.upload()

Saving gda_disease_summary_luad.csv to gda_disease_summary_luad.csv

In [33]:
df6 = pd.read_csv(io.StringIO(uploaded4['gda_disease_summary_luad.csv'].decode('utf-8')))
df6

            Gene    Gene_id  ... First_Ref  Last_Ref
0           NAT2         10  ...    2001.0    2009.0
1            ADA        100  ...    2017.0    2019.0
2           CDH2       1000  ...    2014.0    2019.0
3     CDKN2B-AS1  100048912  ...    2016.0    2017.0
4           CDH3       1001  ...    2010.0    2010.0
...          ...        ...  ...       ...       ...
2433      CDC25C        995  ...    2019.0    2019.0
2434         MVP       9961  ...    2018.0    2019.0
2435       NR1I3       9970  ...    2019.0    2019.0
2436        CDH1        999  ...    2006.0    2019.0
2437        SCO2       9997  ...    2018.0    2018.0

[2438 rows x 16 columns]

In [34]:
df_6 = df6.drop(['Gene_id', 'Gene_Full_Name', 'DSI_g', 'DPI_g',	'pLI', 'Disease', 'N_PMIDs', 'Disease_id', 'Type', 'EL_gda', 'N_SNPs_gda', 'First_Ref', 'Last_Ref'], axis=1)
df_6

            Gene  Score_gda  EI_gda
0           NAT2       0.02     1.0
1            ADA       0.02     1.0
2           CDH2       0.02     1.0
3     CDKN2B-AS1       0.12     1.0
4           CDH3       0.01     1.0
...          ...        ...     ...
2433      CDC25C       0.01     1.0
2434         MVP       0.03     1.0
2435       NR1I3       0.01     1.0
2436        CDH1       0.23     1.0
2437        SCO2       0.01     1.0

[2438 rows x 3 columns]

In [35]:
no_duplicates6 = df_6.sort_values('Score_gda', ascending=False).drop_duplicates('Gene').sort_index()
no_duplicates6

            Gene  Score_gda  EI_gda
0           NAT2       0.02     1.0
1            ADA       0.02     1.0
2           CDH2       0.02     1.0
3     CDKN2B-AS1       0.12     1.0
4           CDH3       0.01     1.0
...          ...        ...     ...
2433      CDC25C       0.01     1.0
2434         MVP       0.03     1.0
2435       NR1I3       0.01     1.0
2436        CDH1       0.23     1.0
2437        SCO2       0.01     1.0

[2438 rows x 3 columns]

In [36]:
above_thres_7 = no_duplicates6[no_duplicates6["EI_gda"] >= 0.7]
above_thres_7

            Gene  Score_gda  EI_gda
0           NAT2       0.02     1.0
1            ADA       0.02     1.0
2           CDH2       0.02     1.0
3     CDKN2B-AS1       0.12     1.0
4           CDH3       0.01     1.0
...          ...        ...     ...
2433      CDC25C       0.01     1.0
2434         MVP       0.03     1.0
2435       NR1I3       0.01     1.0
2436        CDH1       0.23     1.0
2437        SCO2       0.01     1.0

[2360 rows x 3 columns]

In [37]:
intersect_df1 = above_thres_7[above_thres_7["Score_gda"] >= 0.01]
intersect_df1

            Gene  Score_gda  EI_gda
0           NAT2       0.02     1.0
1            ADA       0.02     1.0
2           CDH2       0.02     1.0
3     CDKN2B-AS1       0.12     1.0
4           CDH3       0.01     1.0
...          ...        ...     ...
2433      CDC25C       0.01     1.0
2434         MVP       0.03     1.0
2435       NR1I3       0.01     1.0
2436        CDH1       0.23     1.0
2437        SCO2       0.01     1.0

[2360 rows x 3 columns]

In [38]:
intersect_df2 = above_thres_7[above_thres_7["Score_gda"] >= 0.02]
intersect_df2

            Gene  Score_gda  EI_gda
0           NAT2       0.02     1.0
1            ADA       0.02     1.0
2           CDH2       0.02     1.0
3     CDKN2B-AS1       0.12     1.0
6         HOTAIR       0.02     1.0
...          ...        ...     ...
2425        ZEB2       0.04     1.0
2426       CDC20       0.03     1.0
2429        MFN2       0.03     1.0
2434         MVP       0.03     1.0
2436        CDH1       0.23     1.0

[996 rows x 3 columns]

In [39]:
intersect_df3 = above_thres_7[above_thres_7["Score_gda"] >= 0.03]
intersect_df3

            Gene  Score_gda  EI_gda
3     CDKN2B-AS1       0.12     1.0
28       BCL2L11       0.04     1.0
30         SH2B3       0.10     1.0
32        CASC11       0.10     1.0
35     LMCD1-AS1       0.10     1.0
...          ...        ...     ...
2425        ZEB2       0.04     1.0
2426       CDC20       0.03     1.0
2429        MFN2       0.03     1.0
2434         MVP       0.03     1.0
2436        CDH1       0.23     1.0

[630 rows x 3 columns]

In [40]:
intersect_df4 = above_thres_7[above_thres_7["Score_gda"] >= 0.04]
intersect_df4

            Gene  Score_gda  EI_gda
3     CDKN2B-AS1       0.12     1.0
28       BCL2L11       0.04     1.0
30         SH2B3       0.10     1.0
32        CASC11       0.10     1.0
35     LMCD1-AS1       0.10     1.0
...          ...        ...     ...
2396    APOBEC3B       0.32     1.0
2398        CD44       0.10     1.0
2421       KEAP1       0.40     1.0
2425        ZEB2       0.04     1.0
2436        CDH1       0.23     1.0

[511 rows x 3 columns]

In [41]:
intersect_df5 = above_thres_7[above_thres_7["Score_gda"] >= 0.05]
intersect_df5

             Gene  Score_gda  EI_gda
3      CDKN2B-AS1       0.12     1.0
30          SH2B3       0.10     1.0
32         CASC11       0.10     1.0
35      LMCD1-AS1       0.10     1.0
66    COMMD3-BMI1       0.06     1.0
...           ...        ...     ...
2387       SLC4A7       0.30     1.0
2396     APOBEC3B       0.32     1.0
2398         CD44       0.10     1.0
2421        KEAP1       0.40     1.0
2436         CDH1       0.23     1.0

[445 rows x 3 columns]

In [42]:
intersect_df1.to_csv(r'/content/intersect_df1.csv', index = False)
intersect_df2.to_csv(r'/content/intersect_df2.csv', index = False)
intersect_df3.to_csv(r'/content/intersect_df3.csv', index = False)
intersect_df4.to_csv(r'/content/intersect_df4.csv', index = False)
intersect_df5.to_csv(r'/content/intersect_df5.csv', index = False)

In [43]:
df_complete = pd.merge(intersect_df1, no_duplicates_df, how='inner')
df_complete

            Gene  Score_gda  EI_gda          ensembl
0           NAT2       0.02     1.0  ENSG00000156006
1            ADA       0.02     1.0  ENSG00000196839
2           CDH2       0.02     1.0  ENSG00000170558
3     CDKN2B-AS1       0.12     1.0  ENSG00000240498
4           CDH3       0.01     1.0  ENSG00000062038
...          ...        ...     ...              ...
2316      CDC25C       0.01     1.0  ENSG00000158402
2317         MVP       0.03     1.0  ENSG00000013364
2318       NR1I3       0.01     1.0  ENSG00000143257
2319        CDH1       0.23     1.0  ENSG00000039068
2320        SCO2       0.01     1.0  ENSG00000284194

[2321 rows x 4 columns]

In [44]:
df_complete1 = df_complete[df_complete["Score_gda"] >= 0.01]
df_complete1

            Gene  Score_gda  EI_gda          ensembl
0           NAT2       0.02     1.0  ENSG00000156006
1            ADA       0.02     1.0  ENSG00000196839
2           CDH2       0.02     1.0  ENSG00000170558
3     CDKN2B-AS1       0.12     1.0  ENSG00000240498
4           CDH3       0.01     1.0  ENSG00000062038
...          ...        ...     ...              ...
2316      CDC25C       0.01     1.0  ENSG00000158402
2317         MVP       0.03     1.0  ENSG00000013364
2318       NR1I3       0.01     1.0  ENSG00000143257
2319        CDH1       0.23     1.0  ENSG00000039068
2320        SCO2       0.01     1.0  ENSG00000284194

[2321 rows x 4 columns]

In [45]:
df_complete2 = df_complete[df_complete["Score_gda"] >= 0.02]
df_complete2

            Gene  Score_gda  EI_gda          ensembl
0           NAT2       0.02     1.0  ENSG00000156006
1            ADA       0.02     1.0  ENSG00000196839
2           CDH2       0.02     1.0  ENSG00000170558
3     CDKN2B-AS1       0.12     1.0  ENSG00000240498
6         HOTAIR       0.02     1.0  ENSG00000228630
...          ...        ...     ...              ...
2308        ZEB2       0.04     1.0  ENSG00000169554
2309       CDC20       0.03     1.0  ENSG00000117399
2312        MFN2       0.03     1.0  ENSG00000116688
2317         MVP       0.03     1.0  ENSG00000013364
2319        CDH1       0.23     1.0  ENSG00000039068

[983 rows x 4 columns]

In [46]:
df_complete3 = df_complete[df_complete["Score_gda"] >= 0.03]
df_complete3

            Gene  Score_gda  EI_gda          ensembl
3     CDKN2B-AS1       0.12     1.0  ENSG00000240498
25       BCL2L11       0.04     1.0  ENSG00000153094
26         SH2B3       0.10     1.0  ENSG00000111252
28        CASC11       0.10     1.0  ENSG00000249375
31     LMCD1-AS1       0.10     1.0  ENSG00000227110
...          ...        ...     ...              ...
2308        ZEB2       0.04     1.0  ENSG00000169554
2309       CDC20       0.03     1.0  ENSG00000117399
2312        MFN2       0.03     1.0  ENSG00000116688
2317         MVP       0.03     1.0  ENSG00000013364
2319        CDH1       0.23     1.0  ENSG00000039068

[625 rows x 4 columns]

In [47]:
df_complete4 = df_complete[df_complete["Score_gda"] >= 0.04]
df_complete4

            Gene  Score_gda  EI_gda          ensembl
3     CDKN2B-AS1       0.12     1.0  ENSG00000240498
25       BCL2L11       0.04     1.0  ENSG00000153094
26         SH2B3       0.10     1.0  ENSG00000111252
28        CASC11       0.10     1.0  ENSG00000249375
31     LMCD1-AS1       0.10     1.0  ENSG00000227110
...          ...        ...     ...              ...
2282    APOBEC3B       0.32     1.0  ENSG00000179750
2284        CD44       0.10     1.0  ENSG00000026508
2304       KEAP1       0.40     1.0  ENSG00000079999
2308        ZEB2       0.04     1.0  ENSG00000169554
2319        CDH1       0.23     1.0  ENSG00000039068

[507 rows x 4 columns]

In [48]:
df_complete5 = df_complete[df_complete["Score_gda"] >= 0.05]
df_complete5

             Gene  Score_gda  EI_gda          ensembl
3      CDKN2B-AS1       0.12     1.0  ENSG00000240498
26          SH2B3       0.10     1.0  ENSG00000111252
28         CASC11       0.10     1.0  ENSG00000249375
31      LMCD1-AS1       0.10     1.0  ENSG00000227110
56    COMMD3-BMI1       0.06     1.0  ENSG00000269897
...           ...        ...     ...              ...
2273       SLC4A7       0.30     1.0  ENSG00000033867
2282     APOBEC3B       0.32     1.0  ENSG00000179750
2284         CD44       0.10     1.0  ENSG00000026508
2304        KEAP1       0.40     1.0  ENSG00000079999
2319         CDH1       0.23     1.0  ENSG00000039068

[443 rows x 4 columns]

In [49]:
a = df_complete1[df_complete1.columns[0]].count()
b = df_complete2[df_complete2.columns[0]].count()
c = df_complete3[df_complete3.columns[0]].count()
d = df_complete4[df_complete4.columns[0]].count()
e = df_complete5[df_complete5.columns[0]].count()
print("0.01:", a, "0.02:", b, "0.03:", c, "0.04:", d,"0.05:" ,e)

0.01: 2321 0.02: 983 0.03: 625 0.04: 507 0.05: 443

In [50]:
df_complete.to_csv(r'/content/df_complete.csv', index = False)

In [107]:
# remove unnecessary HPA features
df5.drop(columns=df5.columns[-107:], 
        axis=1, 
        inplace=True)

In [108]:
df5

               ensembl
0      ENSG00000175899
1      ENSG00000128274
2      ENSG00000094914
3      ENSG00000081760
4      ENSG00000114771
...                ...
14850  ENSG00000198455
14851  ENSG00000070476
14852  ENSG00000162378
14853  ENSG00000159840
14854  ENSG00000074755

[14855 rows x 1 columns]

In [99]:
hpa_intersect1 = pd.merge(df_complete1, df5, how='inner')
hpa_intersect1

         Gene  Score_gda  EI_gda          ensembl
0         ADA       0.02     1.0  ENSG00000196839
1        CDH3       0.01     1.0  ENSG00000062038
2       HDAC6       0.01     1.0  ENSG00000094631
3       PDCD6       0.01     1.0  ENSG00000249915
4     BCL2L11       0.04     1.0  ENSG00000153094
...       ...        ...     ...              ...
1750     MFN2       0.03     1.0  ENSG00000116688
1751    KIF14       0.01     1.0  ENSG00000118193
1752   P2RY14       0.01     1.0  ENSG00000174944
1753      MVP       0.03     1.0  ENSG00000013364
1754     CDH1       0.23     1.0  ENSG00000039068

[1755 rows x 4 columns]

In [100]:
hpa_intersect2 = pd.merge(df_complete2, df5, how='inner')
hpa_intersect2

            Gene  Score_gda  EI_gda          ensembl
0            ADA       0.02     1.0  ENSG00000196839
1        BCL2L11       0.04     1.0  ENSG00000153094
2          SH2B3       0.10     1.0  ENSG00000111252
3    COMMD3-BMI1       0.06     1.0  ENSG00000269897
4    MSH5-SAPCD1       0.10     1.0  ENSG00000204410
..           ...        ...     ...              ...
773         ZEB2       0.04     1.0  ENSG00000169554
774        CDC20       0.03     1.0  ENSG00000117399
775         MFN2       0.03     1.0  ENSG00000116688
776          MVP       0.03     1.0  ENSG00000013364
777         CDH1       0.23     1.0  ENSG00000039068

[778 rows x 4 columns]

In [101]:
hpa_intersect3 = pd.merge(df_complete3, df5, how='inner')
hpa_intersect3

            Gene  Score_gda  EI_gda          ensembl
0        BCL2L11       0.04     1.0  ENSG00000153094
1          SH2B3       0.10     1.0  ENSG00000111252
2    COMMD3-BMI1       0.06     1.0  ENSG00000269897
3    MSH5-SAPCD1       0.10     1.0  ENSG00000204410
4          DNM1L       0.03     1.0  ENSG00000087470
..           ...        ...     ...              ...
505         ZEB2       0.04     1.0  ENSG00000169554
506        CDC20       0.03     1.0  ENSG00000117399
507         MFN2       0.03     1.0  ENSG00000116688
508          MVP       0.03     1.0  ENSG00000013364
509         CDH1       0.23     1.0  ENSG00000039068

[510 rows x 4 columns]

In [102]:
hpa_intersect4 = pd.merge(df_complete4, df5, how='inner')
hpa_intersect4

            Gene  Score_gda  EI_gda          ensembl
0        BCL2L11       0.04     1.0  ENSG00000153094
1          SH2B3       0.10     1.0  ENSG00000111252
2    COMMD3-BMI1       0.06     1.0  ENSG00000269897
3    MSH5-SAPCD1       0.10     1.0  ENSG00000204410
4          ACTR2       0.10     1.0  ENSG00000138071
..           ...        ...     ...              ...
419     APOBEC3B       0.32     1.0  ENSG00000179750
420         CD44       0.10     1.0  ENSG00000026508
421        KEAP1       0.40     1.0  ENSG00000079999
422         ZEB2       0.04     1.0  ENSG00000169554
423         CDH1       0.23     1.0  ENSG00000039068

[424 rows x 4 columns]

In [103]:
hpa_intersect5 = pd.merge(df_complete5, df5, how='inner')
hpa_intersect5

            Gene  Score_gda  EI_gda          ensembl
0          SH2B3       0.10     1.0  ENSG00000111252
1    COMMD3-BMI1       0.06     1.0  ENSG00000269897
2    MSH5-SAPCD1       0.10     1.0  ENSG00000204410
3          ACTR2       0.10     1.0  ENSG00000138071
4            FRY       0.10     1.0  ENSG00000073910
..           ...        ...     ...              ...
372       SLC4A7       0.30     1.0  ENSG00000033867
373     APOBEC3B       0.32     1.0  ENSG00000179750
374         CD44       0.10     1.0  ENSG00000026508
375        KEAP1       0.40     1.0  ENSG00000079999
376         CDH1       0.23     1.0  ENSG00000039068

[377 rows x 4 columns]